@model LICSE_Inventarios.Models.ENTRADA

@{
    ViewBag.Title = "Delete";
}
<div class="top-bar elementos">
    <h1>Elementos</h1>
    <p>Home. / Elementos</p>
</div>
<!-- end top bar -->
<!-- main container -->
<div class="main-container portfolio-inner clearfix">
    <!-- portfolio div -->
    <div class="portfolio-div">
        <div class="portfolio">
            <!-- portfolio_filter -->
            <div class="categories-grid wow fadeInLeft">
                <nav class="categories text-center">
                    <ul>
                        <li>
                            @Html.ActionLink("Lista", "Index")
                        </li>
                        <li>@Html.ActionLink("Registrar", "Create")</li>
                        <li><a href="" class="active">Eliminar</a></li>
                    </ul>
                </nav>
            </div>
            <!-- portfolio_filter -->
            <!-- portfolio_container -->
            <div class="container">
                <!-- single work -->
                <div class="col-sm-4-1 offset-md-1-1 py-4 border-op  fashion logo">



                    <h3>¿Estas seguro de eliminar esto?</h3>
                    <div>

                        <hr />
                        <dl class="dl-horizontal">
                            <dt>
                                @Html.DisplayNameFor(model => model.cant)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.cant)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.fecha)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.fecha)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.ELEMENTO1.elem_ref)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.ELEMENTO1.elem_ref)
                            </dd>

                            <dt>
                                @Html.DisplayNameFor(model => model.USUARIO1.usu_nombre)
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.USUARIO1.usu_nombre)
                            </dd>

                        </dl>

                        <div class="form-actions no-color">
                            <a class="btn btn-default" data-toggle="modal" data-target="#eliminar_reg"> Eliminar</a>
                            @Html.ActionLink("Volver", "Index", "", htmlAttributes: new { @class = "btn btn-default" })
                        </div>

                        <div class="modal fade" id="eliminar_reg" tabindex="-1" arialabelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Confirmacion</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        ¿Esta seguro de eliminar este registro?
                                    </div>
                                    @using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                            <button type="submit" class="btn btn-primary">Aceptar</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end portfolio_container -->
        </div>
        <!-- portfolio -->
    </div>
    <!-- end portfolio div -->
</div>
<!-- end main container -->
