@model IEnumerable<LICSE_Inventarios.Models.ENTRADA>

@{
    ViewBag.Title = "Index";
}
<div class="top-bar elementos">
    <h1>Elementos</h1>
    <p>Home. / Elementos</p>
</div>
<!-- end top bar -->
<!-- main container -->
<div class="main-container portfolio-inner clearfix">
    <!-- portfolio div -->
    <div class="portfolio-div">
        <div class="portfolio">
            <!-- portfolio_filter -->
            <div class="categories-grid wow fadeInLeft">
                <nav class="categories text-center">
                    <ul>
                        <li><a href="" class="active">Lista</a></li>
                        <li>@Html.ActionLink("Registrar", "Create")</li>

                    </ul>
                </nav>
            </div>
            <!-- portfolio_filter -->
            <!-- portfolio_container -->
            <div class="container">
                <!-- single work -->
                <div class="row">
                    <div class="col-sm-4-1 offset-md-1-1 py-4 border-op fashion logo">


                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.ELEMENTO1.elem_ref)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.fecha)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.cant)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.USUARIO1.usu_nombre)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ELEMENTO1.elem_ref)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.fecha)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.cant)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.USUARIO1.usu_nombre)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Editar", "Edit", new { id = item.id_registro }) |
                                        @Html.ActionLink("Detalles", "Details", new { id = item.id_registro }) |
                                         @Html.ActionLink("Eliminar", "Delete", new { id = item.id_registro })
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>

                </div>


