<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="~/Content/img/fav.png" type="image/x-icon">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Content/js/modernizr.js"></script>

</head>
<body>
    @*<div id="preloader">
            <div class="pre-container">
                <div class="spinner">
                    <div class="double-bounce1"></div>
                    <div class="double-bounce2"></div>
                </div>
            </div>
        </div>*@

    @Html.Partial("_Nav")
    @*<div class="alerta">
            <div class="flash-ventana">
                @Html.Partial("~/Views/Shared/_Flash.cshtml")
            </div>
        </div>*@
    @RenderBody()
    <footer>
        <div class="container-fluid">
            <p class="copyright">© LICSE Inventarios - 2020</p>
        </div>
    </footer>

    <a href="#0" class="cd-top"><i class="ion-android-arrow-up"></i></a>


    @*<script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-76796224-1', 'auto');
            ga('send', 'pageview');
        </script>*@
</body>
</html>
