@model LICSE_Inventarios.Models.SOLICITUD

@{
    ViewBag.Title = "Details";
}


<!-- top bar -->
<div class="top-bar solicitudes">
    <h1>Solicitudes</h1>
    <p>Home. / Solicitudes</p>
</div>
<!-- end top bar -->
<!-- main container -->
<div class="main-container portfolio-inner clearfix">
    <!-- portfolio div -->
    <div class="portfolio-div">
        <div class="portfolio">
            <!-- portfolio_filter -->
            <div class="categories-grid wow fadeInLeft">
                <nav class="categories text-center">
                    <ul>
                        <li>
                            @Html.ActionLink("Lista", "Index")
                        </li>
                        <li>@Html.ActionLink("Registrar", "Create")</li>
                        <li><a href="" class="active">Detalle</a></li>
                        <li>@Html.ActionLink("Editar", "Edit", new { id = Model.id_solicitud })</li>
                    </ul>
                </nav>
            </div>
            <!-- portfolio_filter -->
            <!-- portfolio_container -->
            <div class="container">
                <!-- single work -->
                <div class="col-sm-4-1 offset-md-1-1 py-4 border-op  fashion logo">


                    <div>

                        <hr />
                        <dl class="dl-horizontal">
                            <dt></dt>
                            <dt>
                                
                              @Html.LabelFor(model => model.sol_fecha, "Fecha solicitud")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.sol_fecha)
                            </dd>

                            <dt>
                                @Html.LabelFor(model => model.fecha_progra, "Fecha a programar")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.fecha_progra)
                            </dd>

                            <dt>
                                @Html.LabelFor(model => model.solicitante, "Solicitante")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.solicitante)
                            </dd>

                            <dt>
                                @Html.LabelFor(model => model.SEDE1.sede_nombre, "Sede")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.SEDE1.sede_nombre)
                            </dd>

                            <dt>
                                @Html.LabelFor(model => model.TECNICO1.tec_nom, "Tecnico")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.TECNICO1.tec_nom)
                            </dd>

                            <dt>
                                @Html.LabelFor(model => model.USUARIO1.usu_nombre, "Usuario")
                            </dt>

                            <dd>
                                @Html.DisplayFor(model => model.USUARIO1.usu_nombre)
                            </dd>

                        </dl>
                    </div>
                    <p>
                        |
                    </p>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            @Html.ActionLink("Volver", "Index", "", htmlAttributes: new { @class = "btn btn-default" })
                        </div>
                    </div>

                </div>
                <!-- end single work -->


            </div>
            <!-- end portfolio_container -->
        </div>
        <!-- portfolio -->
    </div>
    <!-- end portfolio div -->
</div>
<!-- end main container -->
