@model IEnumerable<LICSE_Inventarios.Models.Stock>

@{
    ViewBag.Title = "Index";
}

<div class="top-bar elementos">
    <h1>Stock</h1>
    <p>Home. / Elementos</p>
</div>
<!-- end top bar -->
<!-- main container -->
<div class="main-container portfolio-inner clearfix">
    <!-- portfolio div -->
    <div class="portfolio-div">
        <div class="portfolio">
            <!-- portfolio_filter -->
            <div class="categories-grid wow fadeInLeft">
                <nav class="categories text-center">
                    <ul>
                        <li>@Html.ActionLink("Lista", "index", "Elementos")</li>
                        <li>@Html.ActionLink("Registrar entrada", "create" ,"Entradas")</li>
                        <li>@Html.ActionLink("Registrar elemento", "Create", "Elementos")</li>
                        <li><a class="active">Stock</a></li> @*OPcion de stock*@

                    </ul>
                </nav>
            </div>
            <!-- portfolio_filter -->
            <!-- portfolio_container -->
            <div class="container">
                <!-- single work -->
                <div class="row">
                    <div class="col-sm-4-1 offset-md-1-1 py-4 border-op fashion logo">


                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.Referencia)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Nombre)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Proveedor)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Cantidad)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Referencia)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Nombre)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Proveedor)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cantidad)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.Categoria }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.Categoria }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.Categoria })
                                    </td>
                                </tr>
                            }

                        </table>

                    </div>

                </div>


            </div>
            <!-- end portfolio_container -->
        </div>
        <!-- portfolio -->
    </div>
    <!-- end portfolio div -->
</div>
<!-- end main container -->




