@model LICSE_Inventarios.Models.USUARIO

@{
    ViewBag.Title = "Editar usuario";    
}


<div class="top-bar home">
    <h1>Usuarios</h1>
    <p>Home. / Usuarios</p>
</div>
<!-- end top bar -->
<!-- main container -->
<div class="main-container portfolio-inner clearfix">
    <!-- portfolio div -->
    <div class="portfolio-div">
        <div class="portfolio">
            <!-- portfolio_filter -->
            <div class="categories-grid wow fadeInLeft">
                @*@Html.Partial("~/Views/Shared/_Flash.cshtml")*@
                <nav class="categories text-center">
                    <ul>
                        <li>
                            @Html.ActionLink("Lista", "Index")
                        </li>
                        <li>@Html.ActionLink("Registrar", "Create")</li>
                        <li><a href="" class="active">Editar</a></li>
                    </ul>
                </nav>
            </div>

            <div class="container">
                <!-- single work -->
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4-1 offset-md-1-1 py-4 border-op  fashion logo">

                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">                                   
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.rol, "rol", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.DropDownList("rol", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.rol, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    @Html.HiddenFor(model => model.id_usuario)

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.usu_nombre, "Nombre", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.usu_nombre, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.usu_nombre, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.usu_apellido, "Apellido", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.usu_apellido, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.usu_apellido, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.usu_telefono, "Telefono", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.usu_telefono, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.usu_telefono, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.usu_correo, "Correo", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.usu_correo, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.usu_correo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.contraseña, "Contraseña", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.contraseña, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.contraseña, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.estado, "estado", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.DropDownList("estado", null, htmlAttributes: new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Save" class="btn btn-default" />
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>
                    </div>
                    <!-- end portfolio_container -->
                </div>
                <!-- portfolio -->
            </div>
            <!-- end portfolio div -->
        </div>
        <!-- end main container -->
    </div>
</div>

